.select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  padding: 0 24px 0 20px;
  background-image: url('../../images/BottomArrow.svg');
  background-position-x: calc(100% - 6px);
  background-position-y: calc(100% - 18px);
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 48px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 15px;
  color: #2a324b;
  outline: none;

  &:disabled {
    cursor: not-allowed;
  }

  cursor: pointer;
}
