.transaction-wrapper {
  height: calc(100vh - 300px);
  .header-transaction-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    margin: 16px 0;
  }
  .transaction-table-header-wrapper {
    padding: 8px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(10, 0.5fr);
    column-gap: 8px;
    padding: 16px 8px;
    background: white;
    > div {
      text-align: center;
      font-weight: bold;
    }
  }
  .transaction-table-content-wrapper {
  }
}
