.exportWrapper {
	width: 110px;
	fieldset {
		border-radius: 10px;
	}
	.export-excel {
		border-radius: 10px;
		&:focus {
			border-color: transparent;
			border-radius: 10px;
		}
	}
	border-color: transparent;
	.MuiSelect-select {
		&:focus {
			border-radius: 10px;
		}
		&.Mui-disabled {
			-webkit-text-fill-color: white;
			color: white;
			opacity: 0.8;
		}
	}
	.MuiSelect-outlined {
		border-radius: 10px;
		display: flex;
		justify-content: center;
		background-color: #5863ff;
		.MuiListItemIcon-root {
			min-width: 26px;
			display: flex;
			align-items: center;
		}
	}
	.MuiSvgIcon-root {
		fill: white !important;
	}
}

.exportExcelButton {
	gap: 8px;
}
