.ticket-list-wrapper {
  background: white;
  border-radius: var(--radius-base);
  padding: 16px;
  .market_section_title {
    font-size: 24px;
  }
}

.ticket_row {
  position: relative;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
  height: 37px;
}
.not_empty :hover {
  .ticket_dotes {
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
  }
}
.ticket_name {
  display: flex;
  color: var(--color-daisy);
  font-weight: 500;
  height: 37px;
  & > div {
    color: black;
    font-weight: 400;
  }
}
.ticket_odd {
  height: 37px;
  display: flex;
}
.ticket_point_bracket {
  margin-left: 10px;
}
.ticket_dotes {
  transition: 0.5s;
  opacity: 0;
  margin-left: 10px;
}
.ticket_input {
  text-align: end;
  width: 74px;
  height: 37px;
  padding-right: 5px;
  font-size: 18px;
  outline: none;
  border: 0.5px solid var(--color-light-blue);
  border-radius: 4px;
}
.ticket_edit_modal {
  position: absolute;
  right: 20px;
  width: 100px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c7ccdb;
  border-radius: 4px;
  background-color: white;
  z-index: 20;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & > svg {
      height: 18px;
      width: 18px;
    }
    & > span {
      font-size: 14px;
      margin-left: 10px;
      margin-bottom: 0;
    }
  }
}
