:root {
  //colors
  --white: #ffffff;
  --bg-color: #f0f5f9;
  --color-grey: #767b91;
  --color-text-dark: #2a324b;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

hr {
  margin-block: 1.6rem;
  border-bottom: 1px solid var(--blue-border-color);
}
