.succsessModal,
.worningModal,
.errorModal {
  background: #ffffff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  svg {
    width: 69px;
    height: 69px;
  }
}
.succsessModal {
  height: 277px;
  min-width: 475px;
  max-width: 800px;
  padding: 48px 87px;
  .modalText {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #5863ff;
  }
}
.worningModal {
  width: 467px;
  padding: 48px;

  .modalTitle {
    font-weight: bold;
    color: #5863ff;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 38px;
  }
  .ticketName {
    margin-top: 6px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 28px;
    color: #2a324b;
  }
  .modalText {
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 28px;
    color: #2a324b;
  }
  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
.errorModal {
  height: 277px;
  width: 473px;
  padding: 48px 87px;
  background: #fcecec;
  border: 1px solid #dc4139;
  .modalText {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #2a324b;
  }
}
