// @import '../../scss/varible';
.card {
  border-radius: 10px;
  padding: 10px 32px 25px 24px;
  background-color: white;
  position: relative;
  color: var(--color-text-dark);
  font-size: 18px;
  .title {
    margin-top: 10px;
    width: 100%;
  }

  .price {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 9px;
    color: var(--blue-primary);
  }
  .currency {
    margin-top: 16px;
    text-align: center;
  }
  .date {
    &:before {
      content: '';
      width: 100%;
      height: 1px;
      opacity: 0.25;
      background-color: var(--color-grey);
      display: inline-block;
    }
  }
}

.icon {
  width: 44px;
  position: absolute;
}

.main_statistics_data {
  text-align: center;
  div.price {
    text-align: center;
    margin-top: 20px;

    justify-content: center;
    align-items: center;
  }
}
