.container {
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 23px;
  height: calc(100vh - 150px);

  .content {
    background-color: #fff;
    height: calc(100vh - 150px);
    border-radius: 15px;
    display: flex;
    padding: 32px;
    overflow-y: auto;
  }
}

.accordion {
  height: calc(100% - 50px);
  overflow: auto;
  font-size: 14px;
  div:last-child {
    border-bottom: none;
  }
}
